In [2]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [4]:
df = pd.read_csv('../metacritic_output.csv')
df['userscore'] = df['userscore'].replace('tbd',np.nan) #cleaning output metacritic output
#df.dropna(inplace=True)
df['userscore'] = df['userscore'].astype(str).astype(float)  #why????
df['userscore'] = df['userscore'] * 10 # standardizing userscores with critic scores
df.dtypes

Unnamed: 0        int64
Unnamed: 0.1      int64
name             object
date             object
platform         object
score             int64
url              object
userscore       float64
fullurl          object
developer        object
genre            object
dtype: object

In [5]:
df.drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1, inplace=True) #delte extra generated columns

In [6]:
df['date'] = pd.to_datetime(df['date'], format='%B %d, %Y') #Convert date to something we can use programmatically
df.dtypes

name                 object
date         datetime64[ns]
platform             object
score                 int64
url                  object
userscore           float64
fullurl              object
developer            object
genre                object
dtype: object

In [8]:
df.describe()

             score    userscore
count  5658.000000  5330.000000
mean     71.872570    66.516323
std      10.392433    13.892728
min      17.000000     2.000000
25%      66.000000    60.000000
50%      73.000000    70.000000
75%      79.000000    76.000000
max      97.000000    98.000000

In [5]:
profile = ProfileReport(df, title='Metacritic Overview', explorative=True) #Generate Exploratory Report
profile.to_file("mc_report")

Summarize dataset: 100%|██████████| 23/23 [00:04<00:00,  5.30it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.88s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.18it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 193.92it/s]